# 列含义说明

| 属性 | 描述 |
| :--- | :--- |
| Model | 车辆品牌和型号  |
|Displ|	发动机排量 - 发动机的大小（升）|  
|Cyl	|特定发动机中的气缸数  |
|Trans	|传动类型和齿轮数  |
|Drive	|驱动轴类型（2WD = 2 轮驱动，4WD = 4 轮/全轮驱动）|  
|Fuel	|燃油类型  |
|Cert Region\* |	认证区域代码  |
|Sales Area\*\*|	认证区域代码  |
|Stnd	车辆排放标准代码|（在此查看车辆排放标准）  |
|Stnd Description\*	|车辆排放标准说明 | 
|Underhood ID	|这是一个 12 位数的识别号码，可以在发动机舱排放标签上找到。EPA 要求使用此号码指定其"测定组"或"发动机系列"。 | 
|Veh Class	|EPA 车辆类型  |
|Air Pollution Score	|空气污染评分（烟雾等级）  |
|City MPG	|估计的城市 mpg（英里/加仑）  |
|Hwy MPG	|估计的高速公路 mpg（英里/加仑）  |
|Cmb MPG	|估计的综合 mpg（英里/加仑）  |
|Greenhouse Gas Score|	温室气体等级  |
|SmartWay	|是、否或 Elite  |
|Comb CO2\*	|城市/高速公路综合二氧化碳尾气排放量（以克/英里为单位）  |
\* 不包括在 2008 数据集内 ** 不包括在 2018 数据集内

## 尝试回答以下问题
* 每个数据集中的样本数
* 每个数据集中的列数
* 每个数据集中重复的行数
* 列的数据类型
* 具有缺失值的特征
* 每个数据集中特征的非空唯一值的数量
* 这些唯一值都是什么，以及每个的计数

## 评估数据
### 查看基本特征

In [1]:
#导入
import pandas as pd
df08 = pd.read_csv('all_alpha_08.csv')
df18 = pd.read_csv('all_alpha_18.csv')

In [2]:
#查看基本信息
df08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [3]:
#查看08年数据集中重复的行数
sum(df08.duplicated())

25

### 统计具有缺失值的行数

In [4]:
#统计08年数据集中具有缺失值的行数
df08.shape[0]-df08.dropna().shape[0]

199

In [5]:
#查看18年的数据信息
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB

In [6]:
#查看18年数据集中重复的行数
sum(df18.duplicated())

0

In [7]:
#统计18年数据集中具有缺失值的行数
df18.shape[0]-df18.dropna().shape[0]

2

In [8]:
# 08年 列'SmartWay' 非空唯一值的数量
len(df08['SmartWay'].unique())

2

In [9]:
# 18年 列'SmartWay' 非空唯一值的数量
len(df18['SmartWay'].unique())

3

In [10]:
# 08年 列'Sales Area' 非空唯一值的数量
len(df08['Sales Area'].unique())

3

In [11]:
# 18年 列'Cert Region' 非空唯一值的数量
len(df18['Cert Region'].unique())

2

In [12]:
len(df08['Trans'].unique())

15

In [13]:
len(df08['Cyl'].unique())

9

In [14]:
len(df18['Cyl'].unique())

8

In [15]:
type(df18['Cyl'])

pandas.core.series.Series

In [16]:
type(df08['Cyl'])

pandas.core.series.Series

In [17]:
df08['Fuel'].unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'], dtype=object)

In [18]:
df18['Fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)

In [19]:
df08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

## 6.清理列标签

In [20]:
# 清除以下列
df_08 = df08.drop(['Stnd','Underhood ID','FE Calc Appr','Unadj Cmb MPG'] , axis = 1)

#确认修改
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [21]:
df18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386

In [22]:
# 清除以下列
df_18 = df18.drop(['Stnd','Stnd Description','Underhood ID','Comb CO2'],axis = 1)

#确认修改
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

## 修改列名

In [23]:
# 将销售区域重命名为特定区域
#修改列名
df_08.rename(columns = {'Sales Area':'Cert Region'},inplace=True)

# 确认更改
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [24]:
# 在 2008 数据集中用下划线和小写标签代替空格
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# 确认更改
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [25]:
# 在 2018 数据集中用下划线和小写标签代替空格
df_18.rename(columns=lambda x:x.strip().lower().replace(" ","_"), inplace=True)

# 确认更改
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [26]:
# 确认 2008 和 2018 数据集的列标签相同
df_08.columns ==df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True], dtype=bool)

In [27]:
# 确定所有的列标签都相同，如下所示
(df_08.columns == df_18.columns).all()

True

In [28]:
# 保存新数据集，供下一段使用
df_08.to_csv('data_08.csv',index=False)
df_18.to_csv('data_18.csv', index=False)