# 过滤、丢弃空值、重复数据删除
使用 `data_08.csv` 和 `data_18.csv`

In [5]:
# 加载数据集
import pandas as pd
df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [23]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 0 to 2400
Data columns (total 13 columns):
model                   986 non-null object
displ                   986 non-null float64
cyl                     986 non-null object
trans                   986 non-null object
drive                   986 non-null object
fuel                    986 non-null object
veh_class               986 non-null object
air_pollution_score     986 non-null object
city_mpg                986 non-null object
hwy_mpg                 986 non-null object
cmb_mpg                 986 non-null object
greenhouse_gas_score    986 non-null object
smartway                986 non-null object
dtypes: float64(1), object(12)
memory usage: 107.8+ KB

In [25]:
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no

In [24]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 794 entries, 1 to 1609
Data columns (total 13 columns):
model                   794 non-null object
displ                   794 non-null float64
cyl                     794 non-null float64
trans                   794 non-null object
drive                   794 non-null object
fuel                    794 non-null object
veh_class               794 non-null object
air_pollution_score     794 non-null int64
city_mpg                794 non-null object
hwy_mpg                 794 non-null object
cmb_mpg                 794 non-null object
greenhouse_gas_score    794 non-null int64
smartway                794 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 86.8+ KB

In [26]:
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No

In [6]:
# 查看数据集维度
df_08.shape

(2404, 14)

In [7]:
# 查看数据集维度
df_18.shape

(1611, 14)

## 按认证区域过滤

In [8]:
# 过滤满足加州标准的行的数据集
df_08 = df_08.query('cert_region == "CA"')
df_18 = df_18.query('cert_region == "CA"')

In [9]:
# 确定唯一的认证区域是加州
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [10]:
# 确定唯一的认证区域是加州
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [11]:
# 将认证区域列从两个数据集中丢弃
df_08.drop('cert_region', axis=1, inplace=True)
df_18.drop('cert_region', axis=1, inplace=True)

In [12]:
df_08.shape

(1084, 13)

In [13]:
df_18.shape

(798, 13)

## 丢弃含有缺失值的行

In [14]:
# 查看 2008 年每个特征的缺失值数量
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [15]:
# 查看 2018 年每个特征的缺失值数量
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [16]:
# 丢弃两个数据集中有任何空值的行
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [17]:
# 检查 2008 年的任何列是否有空值 - 应打印为“假”
df_08.isnull().sum().any()

False

In [18]:
# 检查 2018 年的任何列是否有空值 - 应打印为“假”
df_18.isnull().sum().any()

False

## 重复数据删除

In [19]:
# 打印 2008 年和 2018 年数据集的重复数量
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

23
3

In [20]:
# 丢弃两个数据集中的重复数据
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [21]:
# 再次打印重复数量，确认重复数据已删除——均应为 0 
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

0
0

In [22]:
# 保存进度，以便下一段使用
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)